<div class="card" style="border: 0;">
    <div class="card-header">
        <img class="card-img-bottom" src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="card-body">
            <div class="card-title text-muted">Super Admin</div>
            <div class="list-group">
                <a [routerLink]="['perfil']" class="list-group-item list-group-item-action">Perfil</a>
                <a [routerLink]="['figure']" class="list-group-item list-group-item-action">Figuras</a>
                <a [routerLink]="['group']" class="list-group-item list-group-item-action">Grupos</a>
            </div>
    </div>
</div>
